

.nav{
  background-color: darkblue;
  color: white;
  height: 120Px;
  width: 100%;
}

.column1
{
  background-color: gray;
  height:550px;

  
}
.column2{
  background-color: darkgray;
  padding: 20px;
  width: 100px;
}

.nav-link{
  text-align: center;
  display: block;
  color: white;
  font-size: 30px;
}
.foot{
  text-align: center;
    color:white;
}

